

.Coupons_container {
  border: 1px #B8B8B8 solid;
  transition: 0.3s;
  text-align: center;
  font-family: sans-serif;
  margin: 20px;
  padding: 20px 0px;
  width: 90%;
}

button{
  transition-duration: 0.5s;
}

button:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}

.Coupons_container h1 {
  font-weight: 200;
  padding: 5px;
}

.Coupons_container p {
  padding: 5px;
}

.Coupons_container a {
  text-decoration: none;
  color: black;
  font-size: smaller;
}
/* button{
  background-color: #e60023;
  color: white;
  border: 0px;
  margin: 20px 5px;
  padding: 10px 30px;
  border-radius: 20px;
  margin-left: auto;
} */

.Coupons_container a:hover {
  color: #e60023;
}

@media only screen and (min-width: 700px) {
  body {
    padding: 0px;
    margin: 0px;
  }

  .Coupons {
    display: flex;
    flex-wrap: wrap;
    /* flex-grow: 1; */
    /* justify-content: space-evenly; */
    margin: 5% 5%;
  }

  .Coupons_container {
    /* flex-grow: 1; */
    width: 30%;
    max-width: 30%;
    /* width: 0%; */
  }
}
