h1 {
  text-align: center;
  margin-top: 20px;
  font-weight: 300;
}

.categories {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  width: 60%;
  position: relative;
  left: 20%;
  flex-wrap: wrap;
  justify-content: space-around;
}

button{
  transition-duration: 0.5s;
}

button:hover{
  background-color: black;
  color: wheat;
  cursor: pointer;
}