h1 {
  text-align: center;
  margin-top: 20px;
  font-weight: 300;
}

.categories {
  margin-top: 80px;
  margin-bottom: 100px;
  display: flex;
  width: 70%;
  position: relative;
  left: 15%;
  flex-wrap: wrap;
  justify-content: space-around;
  background: white;
}

button{
  transition-duration: 0.5s;
}

button:hover{
  background-color: black;
  color: wheat;
  cursor: pointer;
}
