.admin-order-main-container{
    margin: 10px;
    padding: 10px;
    /* border: 1px red solid; */
    border: 1px solid #eaeaec;
}

.admin-order-main-container p{
    color: gray;
    margin-bottom: 10px;
}

.date-container{
    border: 1px solid #eaeaec;
    padding: 5px 5px ;
    margin: 10px;
}

.product-list{
    display: flex;
    border: 1px solid #eaeaec;
    padding: 10px 5px ;
    margin: 10px;
}

.product-list-sub-container{
    margin-left: 10px;
}

.admin-order-base-container{
    border: 1px solid #eaeaec;
    padding: 10px 5px ;
    margin: 10px;
}