.sidebar{
    display: none;
}
.order_details_account{
    display: none;
}
.all_orders_container{
    background-color: #f5f5f5;
    width: 90%;
    height: auto;
    /* margin-right: 20%; */
    padding-bottom: 20px;
}

.all_orders_container_single{
    background-color: white;
    width: 95%;
    height: auto;
    margin: 20px ;
    /* box-shadow:  1px 4px 0 rgb(0 0 0 / 10%); */
    padding: 5px;
    /* display: flex; */
    margin-left: 2.5%;
   
}

.sidebar_and_orders{
    display: flex;
    justify-content: space-around;
}

.all_orders_container h3{
    /* margin: 5px 15px; */
    height: 24px;
    /* font-family: Whitney; */
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    /* margin-bottom: 20px; */
}
.all_orders_container p{
    font-weight: 200;
    margin: 20px;
    /* margin-top: -15px; */
}

.all_orders_container_single_inner{
    background-color: #f5f5f5;
    width: 95%;
    /* height: 10vh; */
    margin: 15px ;
    display: flex;
}

.all_orders_container_image{
    position: relative;
    left: 22%;
    margin-top: 10%;
    /* font-family: Whitney; */
    /* align-items: center; */
    /* right: -50%; */
}

.all_orders_container_image h3{
    margin: 10px;
    margin-left: 50px;
}

.all_orders_container_image p{
    margin: 5px;
    margin-left: 70px;
    font-weight: 500;
}

.Order_items_price{
    width: 95%;
    height: auto;
    margin-left: 2.5%;
    background: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.oder_item_price_name h3{
    margin: 15px;
    font-size: 14px;
}
.oder_item_price_price h3{
    margin: 15px;
    font-size: 14px;
}

.order_payment_option{
    width: 95%;
    padding: 5px;
    background: white;
    margin-top: 11px;
    margin-left: 2.5%;
}

p{
    font-size: 13px;
}



@media screen and (min-width: 700px) {
    .order_details_account{
        padding: 0% 20%;
        display: block;
    }

    .sidebar {
        display: block;
        font-size: 10px;
        padding-left: 20%;
        border-right: 1px #eaeaec solid;
        padding-right: 20px;
        margin-right: 10px;
    }

    .sidebar h1{
        font-size: 15px;
        text-align: start;
        cursor: pointer;
    }

    .divider_small{
        border-bottom: 1px #eaeaec solid;
        margin: 20px 0px;
        width: 100%;
        padding: 10px 0;
    }

    .all_orders_container{
        background-color: #f5f5f5;
        width: 95%;
        height: auto;
        margin-right: 20%;
        padding-bottom: 20px;
    }

    .all_orders_container_single{
        background-color: white;
        width: 95%;
        height: auto;
        margin: 20px ;
        /* box-shadow:  1px 4px 0 rgb(0 0 0 / 10%); */
        padding: 5px;
        /* display: flex; */
    }

    .sidebar_and_orders{
        display: flex;
        justify-content: space-around;
    }

    .all_orders_container h3{
        margin: 5px 15px;
        height: 24px;
        /* font-family: Whitney; */
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5;
        /* margin-bottom: 20px; */
    }
    .all_orders_container p{
        font-weight: 200;
        margin: 20px;
        /* margin-top: -15px; */
    }

    .all_orders_container_single_inner{
        background-color: #f5f5f5;
        width: 95%;
        /* height: 10vh; */
        margin: 15px ;
        display: flex;
    }

    .all_orders_container_image{
        position: relative;
        left: 37%;
        margin-top: 10%;
        /* font-family: Whitney; */
        /* align-items: center; */
        /* right: -50%; */
    }

    .all_orders_container_image h3{
        margin: 10px;
        margin-left: 50px;
    }

    .all_orders_container_image p{
        margin: 5px;
        margin-left: 70px;
        font-weight: 500;
    }

    .Order_items_price{
        width: 95%;
        height: auto;
        margin-left: 2.5%;
        background: white;
        padding: 10px;
        display: flex;
        justify-content: space-between;
    }

    .oder_item_price_name h3{
        margin: 15px;
        font-size: 14px;
    }
    .oder_item_price_price h3{
        margin: 15px;
        font-size: 14px;
    }

    .order_payment_option{
        width: 95%;
        padding: 5px;
        background: white;
        margin-top: 11px;
        margin-left: 2.5%;
    }

    p{
        font-size: 13px;
    }

    /* .payment_icon{
        margin-top: 10px;
    } */
}




















    /* 

    .order_details_account{
        padding: 0% 20%;
    }
    .Right_divider{
        color: #231f2099;
        border-right: 0.5px #231f2099 solid;
        margin: 0px 20px;
    }


    .sidebar {
        font-size: 10px;
        padding-left: 20%;
    }

    .sidebar h1{
        font-size: 15px;
        text-align: start;

    }

    .divider_small{
        border-bottom: 0.5px #231f2099 solid;
        margin: 20px 0px;
        width: 100%;
        padding: 10px 0;
    }

    .all_orders_container{
        background-color: #f5f5f5;
        width: 50%;
        margin-right: 20%;
    }

    .all_orders_container_single{
        background-color: white;
        width: 95%;
        height: 20vh;
        margin: 20px ;
    }

    .sidebar_and_orders{
        display: flex;
        justify-content: space-around;
    }

    .all_orders_container h2{
        font-weight: 300;
        font-size: 20px;
        margin: 25px 15px;
    }
    .all_orders_container p{
        font-weight: 200;
        margin: 20px;
        margin-top: -15px;
    }

    .all_orders_container_single_inner{
        background-color: #f5f5f5;
        width: 95%;
        height: 10vh;
        margin: 15px ;
        display: flex;
    } */