/* .Orders {
  margin: 10px;
}

.Orders__SingleOrder {
  margin: 10px;
  padding: 10px;
  transition: 0.3s;
  border: 1px rgb(185, 183, 183) solid;
}

button{
  transition-duration: 0.5s;
}

button:hover{
  background-color: black;
  color: wheat;
  cursor: pointer;
}

.Orders__Products {
  margin: 5px;
  display: flex;
  background-color: white;
  align-items: center;
  margin-bottom: 10px;
  height: 90px;
  overflow: hidden;
  border: 1px rgb(185, 183, 183) solid;
  padding: 80px 30px;
  border-radius: 3px;
  border-radius: 10px;
}

.Orders__Products img {
  width: 50px;
  border-radius: 25px;
  height: 50px;
}

.Orders__Products h3 {
  font-weight: 300;
  padding-left: 5px;
  margin: 2px;
  flex-wrap: wrap;
}

.Orders__SingleOrder button {
  background-color: #e60023;
  color: white;
  border: 0px;
  margin: 20px 5px;
  padding: 10px 30px;
  border-radius: 20px;
}
.Orders__Products button {
  background-color: white;
  color: black;
  border: 1px black solid;
  padding: 5px 12px;
  border-radius: 100%;
  margin: 5px;
  height: 40px;
}

.product_desc{
  font-size: 15px;
  font-weight: 300;
  margin: 10px;
  color:#231f2099;
}

.Orders__Products_name_size{
  font-size: 16px;
  font-weight: 500;
}

@media screen and (min-width: 700px) {
  .Orders {
    margin: auto;
    width: 50%;
  }

  .Orders__SingleOrder {
    width: 60%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
  }

  .Orders__Products{
    padding: 60px 30px;
  }
} */


/* *************** */
    

.pagination-order{
  padding: 10px;
}

    .order_details_account{
        padding: 0% 20%;
    }
    .Right_divider{
        color: #231f2099;
        border-right: 0.5px #231f2099 solid;
        margin: 0px 20px;
    }


    .sidebar {
        font-size: 10px;
        padding-left: 15%;
    }

    .sidebar h1{
        font-size: 15px;
        text-align: start;

    }

    .divider_small{
        border-bottom: 0.5px #231f2099 solid;
        margin: 20px 0px;
        width: 100%;
        padding: 10px 0;
    }

    .all_orders_container_order{
        background-color: #f5f5f5;
        width: 80%;
        /* margin-right: 20%; */
    }

    .all_orders_container_single{
        background-color: white;
        width: 95%;
        /* height: 20vh; */
        margin: 20px ;
    }

    .all_orders_container_single p{
      margin-left: 20px;
    }

    .sidebar_and_orders{
        display: flex;
        justify-content: space-around;
    }

    .all_orders_container_order h2{
        font-weight: 300;
        font-size: 20px;
        margin: 25px 15px;
    }
    .all_orders_container_order p{
        font-weight: 200;
        /* margin-left:20px; */
        /* margin-top: -15px; */
    }

    .all_orders_container_single_inner{
      cursor: pointer;
      background-color: #f5f5f5;
      width: 95%;
      margin: 15px ;
      display: flex;
    }

    .Orders__Products{
      display: flex;
      margin-bottom: 20px;
    }

    .Orders__Products p{
      margin-left: 0;
    }

    .Orders__Products_image_container{
      width : 70px;
      height : 70px;
      margin-top: 30px;
      margin-left: 20px;
      /* border: 1px black solid; */
    }

    .Orders__Products_name_size{
      margin-top: 40px;
      margin-left: 10px;
    }

    @media only screen and (min-width: 700px){
      .all_orders_container_order{
        margin-right: 20%;
      }
    }