.ProductDetails {
  /* margin-left: 10px; */
  text-align: center;
  padding-top: 20px;
  /* width: 90%; */
}

.size-chart-container{
  text-align: start;
  cursor: pointer;
  font-size: 15px;
  font-weight: 300;
}

.ProductDetails__Image_Main img {
  width: 350px;
  height: 430px;
  /* margin-left: 10px; */
  /* margin-left: 10px; */
  margin-top: 3px;
  cursor: -moz-zoom-in; 
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}
.ProductDetails__Image_Sec {
  display: flex;
  position: relative;
  left: 10%;
}

.ProductDetails__Image_Sec img {
  width: 80px;
  height: 80px;
  margin: 5px;
}

.ProductDetails__Description_S{
  /* margin-left: -10%; */
}

.ProductDetails__Description_S h1 {
  font-weight: 300;
  text-align: start;
}

.ProductDetails__Description_S_size{
  text-align: start;
}

.ProductDetails__Description_S_size button {
  background-color: white;
  color: black;
  border: 1.8px black solid;
  padding: 5px 8px;
  border-radius: 100%;
  margin: 5px;
  height: 50px;
  width: 50px;
  font-size: 18px;
}
  .ProductDetails__Description_S_add{
    margin: 20px 0px;
    display: flex;
  }

  .ProductDetails__Description_S h3{
    color: #231f2099;
    font-weight: 400;
    font-size: 26px;
    text-align: start;
  }

  .divider{
    color: #231f2099;
    /* border-bottom: 0.5px #231f2099 solid; */
    border-top: 1.5px solid #eaeaec;
    margin: 20px 0px;
    width: 93%;
    margin-right: 0;
  }


.ProductDetails__Description_S_add button {
  margin: 10px;
  color: black;
  border: 1px #B8B8B8 solid;
  /* color : black;
  backgroundColor : white;
  border : 1px #B8B8B8 solid; */
}

button{
  transition-duration: 0.5s;
}

button:hover{
  /* background-color: black; */
  /* color: white; */
  cursor: pointer;
}

.ProductDetails__Description_S a {
  text-decoration: none;
  color: black;
}

.ProductDetails__Description_S_size button:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}

/* .ProductDetails__Description_S a:hover {
  font-size: large;
  color: #e60023;
} */

.ProductDetails__Description_L {
  text-align: start;
  padding: 10px;
}

.ProductDetails__Description_L p {
  font-weight: 200;
  margin-top: 10px;
}

.ProductDetails__Similar {
  /* width: 90%; */
  display: flex;
  overflow-x: scroll;
  margin-left: 5%;
}

.ProductDetails__Similar::-webkit-scrollbar {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.ProductDetails__Similar_Products {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 20px;
  width: 100%;
}

.ProductDetails__Similar_Products img {
  padding: 10px 0px;
  width: 1050px;
  height: 300px;
}

.ProductDetails__Similar_Products button {
  background-color: white;
  color: black;
  border: 1px black solid;
  padding: 5px 8px;
  border-radius: 100%;
  margin: 5px;
}

.ProductDetails__Similar_Products:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* .addtocart button {
  background-color: #e60023;
  color: white;
  border: 0px;
  margin: 0px 5px;
  padding: 10px 30px;
  border-radius: 20px;
} */

.checks li{
  /* display: flex; */
  justify-content: left;
  font-size: 15px;
  font-weight: 300;
  margin-left: 15px;
  margin-bottom: 5%;
  /* margin-top: 5%; */
  list-style: disc;
  text-align: start;
}

.about_product{
  font-size: 8px;
  font-weight: 400;
  padding: 15px 0px ;
  text-align: start;
}

.ProductDetails__Description_S {
  position: relative;
  left: 4%;
  width: 350px;
}

.ProductDetails__size_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 19.7px 11px 20.2px;
    border-radius: 5px;
    border: solid 1px #f4f4f4;
    background-color: #f5f5f5;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 15px;
    font-weight: 300;
    height: 80px;
    width: 100%;
}

.ProductDetails__size_container button{
  color: black;
  border: 1px #B8B8B8 solid;
    /* font-size: 12px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    color: #231f20;
    padding: 12px 22.5px 10px;
    border-radius: 400px;
    border: solid 1px #000000;
    background-color: #f5f5f5;
    display: flex;
    column-gap: 0px; */
}

.submit_Button_custom_size{
  display: flex;
  justify-content: center;
}

.submit_Button_custom_size button{
    /* border: solid 1px #000000; */
    /* color: #231f20; */
    /* background-color: #f5f5f5; */
    /* margin-left: 0; */
    color: black;
  border: 1px #B8B8B8 solid;
} 

.ProductDetails__Description_S_size_num button{
  border: 1.8px#231f20cc solid;
  padding: 5px 8px;
  border-radius: 100%;
  margin: 5px;
  height: 50px;
  width: 50px;
  font-size: 18px;
}



.ProductDetails__Description_S_size_num{
  margin: 0% 5% ;
}

.ProductDetails__Description_Sleeves{
  margin: 0% 5% ;
}

.ProductDetails__Description_Sleeves button{
  color: gray;
  border-radius: 10px;
  border: 1.5px black solid;
  /* border: solid 1px rgba(35,31,32,.1); */
  padding: 5px 8px;
  /* border-radius: 100%; */
  margin: 5px;
  height: 50px;
  width: fit-content;
  font-size: 18px;
}

.product_garantee{
  padding: 28px 68px 25px;
  background-color: #f5f5f5;
  border-radius: 5px;
  /* height: 150px; */
  width: 95%;
  font-weight: 300;
  margin: 30px 2.5%;
}

.checks{
  margin-top: 20px;
  text-align: start;
}

.custom_size_nav{
  display: flex;
  justify-content: space-evenly;
}

.custom_size_nav h3{
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #231f2066;
  align-items: center;
  line-height: 3;
}

.product_elm_name{
  /* border: 1px red solid; */
  width: 60%;
  margin-left:20% ;
  margin: 5%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /* margin-bottom: 16px; */
  font-size: 30px;
  font-weight: 500;
  line-height: 1;
  /* letter-spacing: -.3px; */
  color: #231f2099;
  text-align: left;
}

.custom_size_nav a:hover {
  color: #231f20;
  transition: 0.3s ease;
}

.image_box{
  /* border: 1px #f5f5f5 solid;
  height: 20vh; */
    width: 100%;
    margin: 5% 5% ;
    height: auto;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -.28px;
    text-align: center;
    color: #231f20cc;
    padding: 18px 18px 15px 17px;
    border: solid 1px rgba(35,31,32,.1);
    border-radius: 3px;
}

.image_box-selected{
  border: solid 5px rgba(35,31,32,.1);
}

.product_elm_images{
  cursor: pointer;
  display: flex;
}

.composition_all_container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 42px;
  grid-row-gap: 12px;
  margin-top: 25px;
  margin-right: 10px;
  margin-left: 10px;
}

.composition_sub_container{
  margin-bottom: 0;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(0,0,0,.1);
  text-align: start;
}

.composition_sub_container label{
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #231f2099;
    display: block;
    margin-bottom: 8px;
}

.composition_sub_container p{
  font-size: 14px;
    font-weight: 400;
    line-height: 1.49;
    text-align: left;
    color: #06c;
}

.product-dropdown{
  margin: 30px 0px;
}

.product-dropdown-collapsable-container{
  width: 500px;
  padding: 10px 20px;
  text-align: start;
}

.product-dropdown-icon-container{
  margin-top: 15px;
}

.product-dropdown-sub-container{
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  flex-wrap: wrap;
  margin: 0 10px;
}

.desc {
  position: relative;
  /* left: 2%; */
  max-width: 500px;
}

.product-dropdown-sub-container h1{
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -.32px;
  text-align: left;
  color: #231f2099;
}

.unhighlight-cirlce{
  background-color: white;
  color: #231f20cc;
}

.highlight-cirlce{
  background-color: #000000;
  color: white;
}

.size-chart-table{
  border-radius: 8px;
  padding: 5px;
  margin: 10px;
  background-color: #f5f5f5;
}

.size-chart-table th{
  text-align: center;
  padding: 10px;
  font-weight: 500;
}

.size-chart-table thead{
  font-weight: 100;
  /* color: gray; */
}

.size-chart-table tbody{
  color: gray;
}

@media only screen and (min-width: 700px) {
  body {
    padding: 0px;
    margin: 0px;
  }

  .ProductDetails__Product {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2.5rem;
    padding: 20px;
    min-width: 1438px;
  }

  .ProductDetails__Description_S {
    width: 500px;
    position: relative;
    /* left: 10%; */
    margin-top: 10%;
  }

  .image {
    /* margin: 10px; */
    /* padding: 10px; */
    width: 55%;
    position: relative;
    left: -2%;
  }

  .ProductDetails__Image_Main {
    margin: 0px;
    transition: transform 0.2s;
    z-index: 1;
    /* position: relative; */
    /* right: 58%; */
    /* width: 120%; */
    flex-wrap: wrap;
    max-width: 1122px;
    min-width: 825px;
  }

  .checks{
    display: block;
    margin-top: 10%;
  }

  .product_garantee{
    /* max-width: 100%; */
    /* width: 100%; */
    display: block;
    margin: 46px 0 0;
    padding: 28px 68px 25px;
    background-color: #f5f5f5;
    border-radius: 5px;
    /* height: 150px; */
    width: 550px;
    font-weight: 300;
    margin-top: 30px;
  }

  .product_garantee p{
    margin-top: 10px;
  }


  /* .ProductDetails__Image_Main:hover {
    transform: scale(1.8);
  } */

  .ProductDetails__Image_Sec {
    position: relative;
    left: 0.1rem;
    justify-content: space-between;
    margin-top: 20px;
  }

  .desc {
    position: relative;
    left: 2%;
  }

  .ProductDetails__Description_L {
    max-width: 600px;
    height: 230px;
    padding: 10px;
    margin-top: 5%;
    overflow-y: scroll;
    background-color: white;
  }

  ::-webkit-scrollbar {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }

  .ProductDetails__Description_L h3 {
    text-align: center;
  }
  .ProductDetails__Description_L p {
    padding: 10px;
  }

  .ProductDetails__Similar {
    margin-top: 5%;
  }

  .ProductDetails__Similar_Products{
    width: 550px;
  }

  .ProductDetails__Image_Main img {
    width: 400px;
    height: 500px;
    margin-left: 5px;
    /* margin-left: 5px;
    margin-top: 3px; */

  }

  .accordion-wrapper {
    position: relative;
    display: block;
    margin-bottom: 46px;
}

.unhighlight-cirlce{
  background-color: white;
  color: #231f20cc;
}

.highlight-cirlce{
  background-color: #000000;
  color: white;
}

.ProductDetails__Description_S .highlight-cirlce{
  background-color: #000000;
  color: white;
}

.ProductDetails__Description_S .unhighlight-cirlce{
  background-color: white;
  color: #231f20cc;
}


  /* .ProductDetails__Description_S_add button {
    background-color: #e60023;
    color: white;
    border: 0px;
    font-size: 17px;
    margin-left: 10px;
    width: 350px;
    height: 48px;
    border-radius: 50px;
    font-weight: 500;
    margin-bottom: 0px;
  } */
}
