.ProductSlider {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  margin: 20px 0px;
  /* margin-bottom: 100px; */
}

@media screen and (min-width: 700px) {
  .ProductSlider {
    width: 80%;
    position: relative;
    left: 10%;
  }
}


button{
  transition-duration: 0.5s;
}

button:hover{
  background-color: black;
  color: wheat;
  cursor: pointer;
}