.Profile {
  margin-top: 20px;
  overflow-x: scroll;
}

.Profile table {
  margin: 10px;
  padding: 5px;
  /* max-width: 20px; */
  margin-top: 20px;
}

.Profile label{
  margin-left: 25%;
}

.Profile input{
  padding: 8px;
  border: 0.5px gray solid;
  display: block;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 10px;
}

.Profile p {
  margin: 5px;
  font-weight: 300;
}

button{
  transition-duration: 0.5s;
}

button:hover{
  background-color: black;
  color: wheat;
  cursor: pointer;
}

.Profile button {
  background-color: #e60023;
  color: white;
  border: 0px;
  margin: 20px 15px;
  padding: 10px 30px;
  border-radius: 20px;
}

@media screen and (min-width: 700px) {
  .Profile table {
    /* border: 1px red solid; */
    width: 40%;
    margin: auto;
    padding: 20px;
  }

  .Profile p {
    padding: 20px;
  }

  .Profile {
    width: 40%;
    margin: auto;
  }

  .Profile button {
    position: relative;
    left: 27%;
  }

  .Profile button:hover {
    cursor: pointer;
  }
}
