.Profile {
  margin-top: 20px;
  overflow-x: scroll;
}

.Profile table {
  margin: 10px;
  padding: 5px;
  /* max-width: 20px; */
  margin-top: 20px;
}

.profile-container{
  width: fit-content;
  position: relative;
  left: 10%;
}

.Profile p {
  margin: 5px;
  font-weight: 300;
}

button{
  transition-duration: 0.5s;
}

button:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}

.Profile button {
  margin-left: -10px;
  margin-right: 40px;
  margin-top: 30px;
  color: black;
  border: 1px #B8B8B8 solid;
}

@media screen and (min-width: 700px) {

  .profile-container{
    width: fit-content;
    position: relative;
    left: 25%;
  }

  .Profile table {
    /* border: 1px red solid; */
    width: 40%;
    margin: auto;
    padding: 20px;
  }

  .Profile p {
    padding: 20px;
  }

  .Profile {
    width: 40%;
    margin: auto;
  }

  .Profile button {
    position: relative;
    left: 27%;
  }

  .Profile button:hover {
    cursor: pointer;
  }
}
