.Register h1 {
  font-family: sans-serif;
  text-align: center;
}

.Register {
  width: 100%;
  /* margin: 0 12.5%; */
  min-width: 390px;
  max-width: 390px;
  margin-left: -40px;
}

.register-input-container{
  width: 100%;
}

button{
  transition-duration: 0.5s;
}

button:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}

.Register a {
  text-decoration: none;
  font-family: sans-serif;
  font-size: small;
  margin: 10px;
  color: grey;
}

a:hover {
  color: #e60023;
}

.Register input {
  /* display: block;
  margin: 10px 10px;
  padding: 10px; */
  /* width: 90%; */
 
}

.alertRegister{
  display: block;
  margin: 10px 10px;
  /* padding: 10px; */
  width: 90%;
}

.registerButtom{
  margin-top: 20px;
}

.registerButtom button{
  display: block;
  border: 0px;
  width: auto;
  margin-left: 30%;
  color: black;
  border: 1px #B8B8B8 solid;
}

.Register a {
  font-size: small;
  margin: 80px;
}

.register-input-container{
  /* margin-left: 10%; */
  width: 293.5px;
  margin-left: 20%;
}

@media only screen and (min-width: 700px) {
  body {
    padding: 0;
    margin: 0;
  }

  .Register {
    /* margin: 0 35%; */
    width: 30%;
    position: relative;
    left: 40%;
  }
}
