/* .shirts_btn button {
  background-color: #e60023;
  color: white;
  border: 0px;
  margin: 20px 5px;
  padding: 10px 30px;
  border-radius: 20px;
} */
.shirts_btn {
  max-width: 40%;
  margin: 0px auto;
}

.Product__Shirts__Select{
  padding: 10px 25px;
  margin: 10px;
  left: 15%;
  position: relative;
  border-radius: 3px;
  /* border: 1.5px solid #eaeaec; */
  border: 1px #B8B8B8 solid;
  background: white;
}

button{
  transition-duration: 0.5s;
}

button:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}

/* .Product__Shirts__Select option{
  padding: 10px 30px;
} */

.resetButton {
  /* background-color: #e60023; */
  /* color: white; */
  /* border: 0px; */
  /* padding: 10px 20px; */
  /* margin: 10px; */
  left: 15%;
  position: relative;
  /* border-radius: 20px; */
}

.Product_Shirts button{
  color: black;
  border: 1px #B8B8B8 solid;
}

@media screen and (min-width: 700px) {
  .Product__Shirts__Container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    position: relative;
    left: 15%;
    margin: 50px 80px;
  }
  .shirts_btn {
    max-width: 20%;
    margin: 0px auto;
    text-align: center;
  }

  .Product__Shirts__Select{
    padding: 10px 25px;
    margin: 10px;
    left: 12%;
    position: relative;
  }

  .resetButton{
    /* background-color: #e60023;
  color: white;
  border: 0px;
  margin: 20px 5px;
  padding: 10px 30px;
  border-radius: 20px; */
  left: 12%;
  position: relative;
  }
}
