.Success {
  margin: 20% 10%;
  padding: 20px 10px;
  text-align: center;
}

.Success h1 {
  font-weight: 400;
}

.Success p {
  padding: 5px;
  font-weight: 150;
  margin: 10px;
}

button{
  transition-duration: 0.5s;
}

button:hover{
  /* background-color: black; */
  /* color: white; */
  cursor: pointer;
}

.Success button {
  color: black;
  border: 1px #B8B8B8 solid;
}

@media screen and (min-width: 700px) {
  .Success {
    margin: 10%;
  }
}
