.sweatshirt_btn button {
  background-color: #e60023;
  color: white;
  border: 0px;
  margin: 20px 5px;
  padding: 10px 30px;
  border-radius: 20px;
  /* position: relative;
    left: 30%; */
}
.sweatshirt_btn {
  max-width: 40%;
  margin: 0px auto;
}

button{
  transition-duration: 0.5s;
}

button:hover{
  background-color: black;
  color: wheat;
  cursor: pointer;
}

@media screen and (min-width: 700px) {
  .Product__sweatshirt__Container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    position: relative;
    left: 10%;
    margin: 100px 0px;
  }
  .sweatshirt_btn {
    max-width: 20%;
    margin: 0px auto;
    text-align: center;
  }
}
